.dark {
    --bg-color: #04042e;
    --inverted-bg-color: #f4f4f4;
    --primary-color: #058905;
    --secondary-clor: #04ff04;
    --inverted-primary-color: #0479ff;
    --inverted-secondary-clor: #061d7d;
}
