.app.light {
    --bg-color: #f4f4f4;
    --inverted-bg-color: #040431;
    --primary-color: #061d7d;
    --secondary-clor: #0479ff;
    --inverted-primary-color: #058905;
    --inverted-secondary-clor: #04ff04;
}
