.NavBar {
  display: flex;
  align-items: center;
  padding: 20px;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
}

.links {
  margin-left: auto;

  :first-child {
    margin-right: 15px;
  }
}
